@import 'topProgress';
@import 'videoSceneEditContainer';
@import 'videoTimeline';
@import 'addPictureQuizDrawer';
@import 'addCodingChallenge';
@import 'review/index';
@import '../../../../../static/styles/minimalVideoPlayer';
@import '../../../../../static/styles/variables';

#course-builder {
  width: 100%;
  position: relative;
  @media @desktop {
    width: 100%;
    margin-left: 0;
  }
}
