.quiz-section {
  padding-bottom: 40px;
  background: rgb(245,245,245);
  .matching-game-title {
    font-size: 14px;
    margin-left: 43px;
    margin-top: 25px;
    color: rgb(70, 70, 75);
  }
  .matching-game-timer-container {
    width: 100%;
    .matching-game-timer {
      margin: 0 auto;
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .matching-container {
    width: 95%;
    height: auto;
    display: block;
    margin: 0 auto;
    a {
      font-size: 22px;
      text-align: center;
      line-height: 44px;
      text-decoration: none;
      color: rgb(90, 90, 90);
      background-color: white;
      border-radius: 4px;
      min-width: 124px;
      display: inline-block;
      width: auto;
      padding-left: 20px;
      padding-right: 20px;
      height: 44px;
      margin-left: 12px;
      margin-top: 15px;
      text-shadow: 0 -1px -1px rgb(230, 230, 230);
      -moz-box-shadow: 0 4px 0 rgb(230, 230, 230), 0 5px 5px 1px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: 0 4px 0 rgb(230, 230, 230), 0 5px 5px 1px rgba(0, 0, 0, 0.4);
      box-shadow: 0 4px 0 rgb(230, 230, 230), 0 5px 5px 1px rgba(0, 0, 0, 0.4);
      -moz-transition: all 0.15s ease-in-out;
      -o-transition: all 0.15s ease-in-out;
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      &:active {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
  }
}
