@import '../../../globalResources/styles/variables';

.search-copy {
  width: 100%;
  height: 150px;
  background: #846DB1;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  h1 {
    color: white;
    opacity: 0;
    transform: translate3d(0, 20px, 0);
    @media @desktop {
      width: 80%;
      display: block;
      margin: 0 auto;
      text-align: center;
    }
  }
}

#search {
  .course-pagination {
    @media @phone {
      position: fixed;
      bottom: -10px;
      z-index: 99999;
      width: 100%;
      margin: 0 !important;
      display: block;
      left: 0;
      right: 0;
      margin-top: 10px;
      background: #9483AE;
      padding-top: 20px;
      padding-bottom: 20px;
      .ant-pagination-total-text {
        display: none;
      }
    }
  }
  #courses-container {
    .slick-slide {
      @media @phone {
        margin: 0 !important;
        margin-top: 20px !important
      }
    }
  }
}

.pagination-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none
}

.pagination-bar-loader {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  transform: translateY(-30px);
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
}

.inner-course-map {
  opacity: 0;
  transform: translate3d(0, 60px, 0);
}