.next-exercises-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
  .exercises-to-complete-title {
    color: rgb(80, 80, 90);
    font-size: 16px;
    transform: translateY(30px);
    position: relative;
    margin-top: 20px;
  }
  .ant-steps-item-content, .ant-steps-item-title, .ant-steps-item-icon {
    cursor: pointer;
  }

  .ant-steps-item-title:hover {
    color: rgb(80, 80, 85);
    transition: color 200ms ease-in-out
  }
}

.end-results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    color: rgb(80, 80, 90);
    font-size: 20px;
  }
  .top-svg {
    width: 600px;
    margin-top: 50px;
  }
  .up-next-exercises {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
  }
}