@import '../../../../static/styles/variables';

#navbar {
  display: block;
  @media @hide-navbar {
    display: none;
  }
  .navbar-paper-with-bullets {
    width: 20px;
    transform: translateY(0.35rem);
  }
  .navbar-money-svg {
    width: 30px;
    transform: translateY(0.29em);
  }
  .navbar-authenticated-avatar {
    width: 30px;
    height: 30px;
  }
}

#mobile-navbar {
  width: 100%;
  height: 46px;
  background: white;
  display: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  justify-content: center;
  align-items: center;
  @media @hide-navbar {
    display: flex;
  }
  a {
    font-size: 15px;
    color: rgb(60,60,65);
    display: inline-block;
    text-align: center;
    font-weight: bold;
  }
  img {
    position: absolute;
    right: 30px;
    width: 28px;
    top: 8px;
    height: auto;
    cursor: pointer;
    opacity: 0.5
  }
}

